<%- include("partials/header") -%>

    <h1 class="error-box">
        Error 404 page not found!
    </h1>

    <!-- <div class="error-box">
        <h1>Error 404 page not found</h1>
    </div> -->

<%- include("partials/footer") -%>